*{
    box-sizing: border-box;
}
.star{   

  width: 100vw;
  height:100vh;
object-fit: contein;
overflow: hidden;
}
.one{
    height:auto;
}
.one img{
    object-fit:contain;
}
.ab{
    color: white;
    padding: 10px;
    margin-left: 65px;
    margin-bottom: 39px;
}
.ab p{
    font-size: 1.5em;
      word-spacing: 15px;
    line-height: 55px;
    font-weight: 400;
}
.ab h1:nth-child(1){
    font-weight: 400;
    margin-bottom: 40px;
    font-size: 2.6em;
}
.one p:nth-child(1){   
  color: white;
  font-weight: 400;
  font-size: 2em;
  position: absolute;
  bottom: 325px;
   left: 15px;
}
@media screen and (max-width:1200px) {
    .one{
        margin-right: 15%;
    }
    .ab{
     
  margin-top: 9%;
        color: white;
        padding: 10px;
   margin-right: 50px;
   margin-left: 10vw;
 
    }
    .ab p{
        font-size: 1.1em;
          word-spacing: 10px;
        line-height: 30px;
        font-weight: 400;
    }
    .ab h1:nth-child(1){
        font-weight: 400;
        margin-bottom: 30px;
        font-size: 2em;
    }



}

@media screen and (max-width:600px) {
    .one{
   
        text-align: center;
        margin-left:-23vw;
        margin-top: -5%;
    }
    .ab{
        color: white;
        padding: 10px;
        margin-top: 25%;
margin-left: 13vw;
       margin-right: 33%;
       overflow: hidden;
    }
    .ab p{
        font-size: 1.1em;
        width: 71vw;
        word-spacing: 15px;
        font-weight: 400;
    }
    .ab h1:nth-child(1){
        font-weight: 400;
        margin-bottom: 35px;
        font-size: 2.1em;
    }
    .one img{
       display: none;
    }
    .one p:nth-child(1){   
       display: none;
      }
      .star{   

        width: 100vw;
        height:100vh;
        object-fit: cover;
        overflow: hidden;
      }
}
@media screen and (max-width:450px) {
.one{

    margin-left:-26vw;
    margin-top: -25%;
  width: 90%;
}

    .ab{
   
        color: white; 
        margin-top: 8%;
       
        margin-right: 25%;
    }
    .ab p{
   

        font-weight: 400;
    }
    .star{   
        object-fit: cover;
        width: 100vw;
        height:100vh;
        overflow: hidden;
      }
}
@media screen and (max-width:393px) {
    .one{
        width: 95%;
        margin-left:-35vw;
        margin-top: -20%;
        overflow: hidden;
    }
    .star{   
        object-fit: cover;
        width: 100vw;
        height:100vh;
        overflow: hidden;
      }
      .ab{
        margin-top: 19%;
       
        margin-right: 15%;
      }

}