h1{
    font-size: 4.8em;
    color: white;
}
p{
    font-size:1.4em;
    margin: 5px;
    color: white;
}
.con{
    font-weight: bolder;
    text-align: center;
    position:absolute;
    top: 25%;
    left: 20%;
    border: 3px solid white;
    background-color: rgba(149, 155, 184, 0.4);
    border-radius: 20px;
    height: 54%;
    width: 60%;
    overflow: hidden;
}
.pro{
    margin: 12% 17%;
    position: relative;
}
.im{
position: absolute;
top:15%;
left: 85%;

}

.play{
   
    font-size: 1.1em;
    border: none;
    color:white;
    font-weight: 900;
    margin: 5px;
    padding: 15px 20px;
    border-radius: 7%;
    cursor: pointer;
    text-align: center;
    background-color:rgb(255,89,42);

}

.res{
    padding-top: 5px;
  font-size: 1.2em;
}

.play:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 5px rgba(255,89,42,0.8);;
    animation-duration: 2s;   
}

@media screen and (max-width:1200px) {
    .con{
        font-weight: bolder;
        text-align: center;
        position:absolute;
        top: 25%;
        left: 20%;
        border: 3px solid white;
        background-color: rgba(149, 155, 184, 0.4);
        border-radius: 20px;
        height: 54%;
        width: 60%;
    }
    h1{
        font-size: 4em;
        color: white;
    }
    .con p{
        font-size:1.4em;
        margin-bottom: 15px;
        color: white;
    }

    .pro{
        margin: 19% 17%;
        position: relative;
    }
    .im{
        position: absolute;
        top:1%;
        left: 68%;
        
        }
}

@media screen and (max-width:600px) {
    .con{
        font-weight: bolder;
        text-align: center;
        position:absolute;
        top: 25%;
        left: 8%;
        border: 3px solid white;
        background-color: rgba(149, 155, 184, 0.4);
        border-radius: 20px;
        height: 54%;
        width: 80%;
        margin: 5px;
    }
    h1{
        width: 100%;
        font-size: 2,8em;
        color: white;
    }
    .con p{
        font-size:1.4em;
        margin-bottom: 5px;
        color: white;
    }
    .im{
        position: absolute;
        top:50%;
        left: 80%;
        
        width: 32vw;
        height: 32vh;

        }
}

@media screen and (max-width:450px) { 
     .con{
    font-weight: bolder;
    text-align: center;
    position:absolute;
    top: 25%;
    left: 5%;
    border: 3px solid white;
    background-color: rgba(149, 155, 184, 0.4);
    border-radius: 20px;
    height: 54%;
    width: 90%;
    margin: 5px;
    overflow: hidden;
}

    .im{
        position: absolute;
        top:55%;
        left: 80%;
        }

}

@media screen and (max-width:393px) { 
    .con p{
        font-size:1.2em;
        margin-bottom: 5px;
        color: white;
    }
    .im{
 object-fit: cover;
    }

}
