.cls{
    width: 100vw;
}
.reg{
    display: flex;
    position: absolute;
   bottom:25%;
   left: 63%;
   border: 3px solid white;
   background-color: rgba(149, 155, 184, 0.2);
   border-radius: 20px;
   flex-direction: column;
   height: 52%;
   width: 30%;
   justify-content: flex-start; 
   padding: 0 50px; 
}
.reg h1{
    color: white;
    font-size: 2.3em;
    text-align: center;
}
.reg label{
    color: white;
    font-weight: normal;
}
.reg p{

    text-align: center;
    font-size:0.9em;
}
.error{
    font-size: 1em;
    color: red;
    font-weight: 900;
    text-align: center;
 }
.reg button{
    text-align: center;
    background-color:rgb(255,89,42);
    border: none;
    border-radius: 15%;
    color: black;
    box-shadow: 0px 0px 15px 5px rgb(255,89,42) ;
    padding: 8px 25px 8px 25px;
    font-weight: 900;
    margin-top: 25px;
    margin-left: 38%;
    width: 25%;
    cursor: pointer;
}
.reg button:active{
transform: scale(0.8);
animation-duration: 2s;
}
.sign p >span{
    color:rgb( 212,124,103  );
    cursor: pointer;
}
.reg input{
    border: none;
    background-color: rgba(149, 155, 184, 0.0);
    border-bottom: 2px solid white;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
}
.reg input:focus{
    outline: none;
    background-color: rgba(149, 155, 184, 0.0);
}
input[type="text"]{
font-size: larger;
    color: aliceblue;
  }
  input[type='password']{
    font-size: larger;
    color: aliceblue;
  }
  input[type='email']{
 font-size: larger;
    color: aliceblue;
  }
.dh{
    object-fit: cover;
    position: absolute;
    top: 30%;
    left:20%
}
.lo{
    position: absolute;
    top: 55%;
    left:20%;
    display: flex;
    align-content: stretch;
    flex-direction: column;
    width: 30vw;
    cursor: pointer;
}
.lo h1{
color: white;
font-size: 2.8em;
font-weight:900;
}
.lo p{
    color: white;
    font-size: 1.5em;
}

@media screen  and (max-width:1200px){
    .cls{
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
    .reg button{
        padding: 10px 60px 10px 60px;
        margin-left: 65px;
        font-size:small;
        width: 55%;
    }
    .reg{ 
       position: absolute;
       bottom:18%;
       left: 58%;    
       height: 63%;
       width: 35%;
       padding: 10px 50px; 
    }
    .lo{
        position: absolute;
        top: 55%;
        left:15%;
        display: flex;
        align-content: stretch;
        flex-direction: column;
        width: 30vw;
        cursor: pointer;
    }
    .dh{
        object-fit: cover;
        position: absolute;
        top: 30%;
        left:15%
    }

}

@media screen  and (max-width:600px){
    .reg{   
        position: absolute;
       bottom:10%;
       left: 20%;
       height: 70%;
       width: 68%; 
    }
    .lo{
      display: none;
    }
    .dh{
        display: none;
    }
 
}

@media screen  and (max-width:450px){

    .error{
    
        color: red;
        font-weight: 900;
        text-align: center;
     }
    .reg{
        position: absolute;
       bottom:15%;
       left: 10%;
       border: 3px solid white;
       height: 70%;
       width: 80%;
    }
    .lo{
      display: none;
    }
    .dh{
        display: none;
    }
    .reg button{
        margin-left: 25px;
        font-size:small;
        width: 80%;
        cursor: pointer;
    }
    .reg p{
    
        text-align: center;
        font-size:0.9em;
    }
  
}

@media screen  and (max-width:393px){
    .reg{
       height: 73%;
       width:90%;
       position: absolute;
       bottom:10%;
       left: 10%;

    }

}

@media screen  and (max-width:750px){
    .reg{
        height: 73%;
        width:90%;
        position: absolute;
        bottom:10%;
        left: 7%;
 
     }
 
}