*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,600;1,400;1,500&display=swap');
.conteiner{
height: auto;
}

.one {
display: flex;
position: absolute;
top: 40%;
left: 19%;
}
.one ul li {
    list-style: none;
    font-weight: 600;  
    font-size: 4em;
    color: white;
    color: rgb(153,159,163);
 margin: 0 50px 0 50px;
}
.one ul li:nth-child(3){
    color: white;
    font-weight: 600;
}
.one ul{
    height: auto;
    margin:-140px 0 5px 0
}
.one h1:nth-child(1){
    font-size: 5.9em;
    color: white;
    font-weight: 900;
}
.one h1:nth-last-child(1){
    font-size: 5.9em;
    color: white;
    font-weight: 900;
    margin-left: 3px;
}
.im1{
    height:100%;
    overflow: hidden;
   
}

@media screen and (max-width:1200px) {

  
    
    .one {
        display: flex;
        position: absolute;
        top: 30%;
        left: 10%;
        align-items: center;
        }
        .one ul{
         
            margin-top: 10px;
        }
        .one ul li {
            list-style: none;
            font-weight: 600;  
            font-size: 3.5em;
            color: white;
            color: rgb(153,159,163);
margin-left: 50px;

        }
        .one h1:nth-child(1){
            font-size: 5.5em;
            color: white;
            font-weight: 900;
        }
        .one h1:nth-last-child(1){
            font-size: 5.5em;
            color: white;
            font-weight: 900;
        }
        .im1{
            width: 100vw;
            height: 100vh;
            object-fit: cover;
        }
}
@media screen and (max-width:600px) {

    .one {
        display: flex;
        position: absolute;
        top: 30%;
        left: 32%;
        align-items: center;
        flex-direction: column;
        }
        .one ul{
         
            margin-top: 10px;
        }
     .one ul>li:nth-child(5){
        display: none;
     }

  
}
@media screen and (max-width:393px) {
    .one {
        display: flex;
        position: absolute;
        top: 30%;
        left:45vw;
        align-items: center;
        flex-direction: column;
        }
   .im1{
overflow: hidden;
width: 100vw;
   }

}