*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,600;1,400;1,500&display=swap');
.conteiner{
height: auto;
}

.one {
display: flex;
position: absolute;
top: 40%;
left: 19%;
}
.one ul li {
    list-style: none;
    font-weight: 600;  
    font-size: 4em;
    color: white;
    color: rgb(153,159,163);
 margin: 0 50px 0 50px;
}
.one ul li:nth-child(3){
    color: white;
    font-weight: 600;
}
.one ul{
    height: auto;
    margin:-140px 0 5px 0
}
.one h1:nth-child(1){
    font-size: 5.9em;
    color: white;
    font-weight: 900;
}
.one h1:nth-last-child(1){
    font-size: 5.9em;
    color: white;
    font-weight: 900;
    margin-left: 3px;
}
.im1{
    height:100%;
}

